<!DOCTYPE html>
<html ng-app="MiPrimeraAPP">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="controller.js"></script>
  </head>
  <body ng-controller="PrimerController">
    <input type="" ng-model="newPost.title" />
    <br />
    <textarea type="" ng-model="newPost.body"> </textarea>
    <br />
    <button ng-click="addPost()">Enviar</button>

    <ul>
      <li ng-repeat="d in pos">
        <h2>{{d.title}}</h2>
        <p>{{d.body}}</p>
      </li>
    </ul>
  </body>
</html>
